.App {

}

.App-header {
  display: flex;
  background-color: #A1233E;
  /*height: 100px; */
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.Menubar {
  display: flex;
}

.menu { 
  padding-right: 15px;
  list-style: none;
  color: #B28291; 
  font-family: "Avenir Next"; 
  font-size: 20px;  
  font-weight: bold;
}

.Menubar a {
  text-decoration: none;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
